header{
    border: 2px solid blue;
}

header, .ghost{
    height: 200px;
}

.ghost{
    background: yellow;
}

.hidden{
    display: none;
}

.fixed {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
}