header{
    border: 2px solid;
}

header, .ghost{
    height: 240px;
}

.ghost{
    background: yellow;
}

.hidden{
    display: none;
}

.fixed {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
}

h1, h2, p {
    margin: 0;
}