#titleBar{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 0%;
}

#navBar{
    padding: 0%;
    background-color: #A494F2;
    color: black;
    text-align: center;
}