#container{
	background-color: #F7C624;
	color: #000000;
	
	margin: 0px auto 10px auto;
	width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#ghost{
	height: 240px;
}

#titleBar{
    background-color: aqua;
    color: black;
	
    text-align: center;
	font-size: 30px;
	
    padding: 11px;
}

#navBar{
	background-color: #A494F2;
    color: black;
	
    
    text-align: center;
	font-size: 15px;
	
	padding: 11px;
}

h1, h2, p {
    margin: 0;
}

#intro{
	background-color: white;
    color: black;
	
	font-size: 20px;
	
    padding: 10px;
}

#content{
	background-color: white;
	color: black;
	
	font-size: 20px;
	
	margin: 0px auto 10px auto;
	width: 75%;
	height: 2000px;
	
}