#titleBar{
    background-color: aqua;
    color: black;
    text-align: center;
    padding-bottom: 0%;
}

#navBar{
    background-color: blue;
    color: black;
    opacity: 50;
    text-align: center;
}