#table{
    border-collapse: collapse;
    width: 100%;
    color: red;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}

tr{
    background-color: #588c7e;
    color: red;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}