table{
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}

th{
    background-color: #d96459;
    color: white;
}

tr{
    background-color: #d96459;
    color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2;
    color: #d96459;
}